@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media(max-width:600px){
  .img{
    width: 88vw !important;
    height: 88vw !important;
  }
}