@media (max-width:967px){
  .responsive{
      flex-direction: column;
      width: 100vw !important;
      margin-left: -0vw !important;
  }
}

@media (max-width:656px){
  .cardProduct{
      padding: 0 !important;
  }
}