.container {
    margin: 10px;
    cursor: pointer;
    transition: all .3s;
    color: black;
    text-decoration: none;
}

.container:hover {
    transform: translateY(-10px);
}

.img {
    border-radius: 10px;
    width: 260px;
    height: 350px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
}

.explore {
    color: #999;
    cursor: pointer;
    transition: all .3s;
}

.explore>svg {
    transition: all .3s;
}

.container:hover>.explore {
    color: #666;
}

.container:hover>.explore>svg {
    transform: translateX(10px);
}

@media (max-width:656px) {
    .img {
        width: 34vw;
        height: 48vw;
    }
    .container{
        margin: 0;
    }
    .container>p:nth-child(2) {
        width: 30vw !important;
        font-size: 2.2vw;
    }
    .container>div:nth-child(3){
        font-size: 2.2vw;
    }
}

@media(max-width:300px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px !important;
    }

    .container>p:nth-child(2) {
        width: 100% !important;
    }

    .img {
        width: 200px;
        height: 350px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    }
}