:root {
  --mainColor: #7b2cbf;
  --mainColorHover: #8f57c0;
  --color: #a896b6;
}

body {
  overflow-x: hidden;
}

/* color of the arrow of the background images in MAIN page */
.kKeLlU {
  stroke: black !important;
}

/* color of the Range Filter in Filter page */
.css-188mx6n-MuiSlider-root {
  color: var(--mainColorHover) !important;
}